#quantidadePokemons{
    width: 80px;
}
#pesquisarPokemon{
    height: 28px;
}

.card{
    height: 260px;
    width: 200px;
    
}
.card{
    margin: .5rem;
}

.img{
    border-bottom: 1px solid black;
}

.elementoPokemon{
    width: 15px;
}

.pokemon{
    height: 110px;
}

.descricao{
    margin-top: .5rem;
}