.lds-dual-ring {
    display: inline-block;
    position: absolute;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 364px;
    height: 364px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #21232d transparent #21232d transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}